@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Bangers&family=Caveat+Brush&family=Chicle&family=DM+Serif+Text:ital@0;1&family=Jersey+15&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playwrite+AU+SA:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.landing-page {
  overflow: hidden;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
.mask {
  background-image: url("designer_1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right ;
  width: 100%;
  height: 1161px;
  z-index: 1;
}
/* Header */

/* nav */
.navbox {
  width: 100%;
  height: 24px;
  display: flex;
  flex-direction: row;
  list-style: none;
margin-left: 0;
padding-left: 0;
  z-index: 3;
}
.navbar {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  border-width: 1px;
  border: #000000;
  padding-top: 18px;
  padding-left: 11.33% ;
  z-index: 3;
}
.navbar ul li {
  display: inline;
 margin: 20px;
}
.navbar ul li a {
  color: #505f98;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.navbar #Contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #505f98;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}
.Name h2 {
  padding-top: 12px;
  font-family: "Roboto";
  font-weight: 900, bold;
  font-size: 26px;
  font-style: normal;
  line-height: 35px;
  color: #37447e;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  border: none;
  height: 18px;
  /* Element/Button/Small/Filled */
  padding-top: 18px;

  z-index: 3;

  padding-right: 11.46%;
}

.navbutton {
  width: 160px;
  height: 26px;
  background-color: #111b47;
  color: white;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.Hero {
  width: 100%;

}

.hero-content {
  height: 421px;
  z-index: 3;
  width: 34%;
  display: flex;
  flex-direction: column;
 padding-left: 11.33%;
padding-top:6.55%;
}
.hero-content h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  padding-bottom: 5%;
}
.hero-content p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
    margin-top: 0;

}
.hero-button {
  display: flex;
  padding-top: 14.87%;
}
.hero-btn1 {
  width: 189.13px;
  height: 36px;
  margin-right: 30px;
  background: #111b47;
  border-radius: 2px;

  /* Medium 16 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  /* Colour/Secondary/White 100 (general) */
  color: #ffffff;
}
.hero-btn2 {
  width: 189.13px;
  height: 36px;
  margin-left: 20px;
  background: transparent;
  border: 2px solid #091133;
  border-radius: 2px;
  top: calc(50% - 26px / 2 + 2px);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #091133;
}

.mask2 {  
  width: 100%;
  height: 742px;
  color: #000;
 
}

.login {
  width: 100%;
  height: 742px;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}

.page2-text {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1.04%;
 padding-left: 11.46%;
padding-top: 3.46%;
width: 540px  ;


}
.page2-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  margin-top: 0;

}
.page2-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;

}
.cards {
  display: flex;
  flex-direction: row;
  padding-top: 80px;

}
.cards p {
  height: 54px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #5d6970;
}
.cards h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}
.card1 {
  width: 255px;
  padding-right: 30px;

}
.card2 {
  width: 255px;
}
.page2-image {
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
align-items: center;
padding-top: 2.37%;



}
.intro {
  width: 100%;
  height: 568px;

}
.content {
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left:  13.26%;
  padding-top: 1.98%;

}
.intro-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.intro-text {
  height: 228px;
  width: 445px;
padding-left: 20.76%;


}
.intro-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  margin-top: 0;

}
.intro-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.page3 {
  width: 100%;
  height: 569px;
  display: flex;
  flex-direction: row;

}

.content3 {
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left:  13.26%;
  padding-top: 1.98%;

}
.page3-text {
  height: 228px;
  width: 445px;
padding-left: 20.76%;
}
.page3 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  margin-top: 0;

}
.page3 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}

.page4 {
  width: 100%;
  height: 569px;
  display: flex;
  flex-direction: row;


}

.content4 {
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-left:  13.26%;
  padding-top: 1.98%;
 
}
.page4-image{
  width: 445px;
height: 313px;
}
.page4-text {
  height: 238px;
  width: 445px;
padding-left:  27.36%;



}
.page4 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  margin-top: 0;
}
.page4 p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.page4-button {
  display: flex;
  padding-top: 4.87%;
}
.page4-button button {
  width: 189.13px;
  height: 36px;
  margin-right: 30px;
  background: #111b47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.page5 {
  width: 100%;
  height: 938px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.content5 {
  width: 100%;
  height: 938px;
  background-image: url("page5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: normal;
  z-index: 1;
}

.page5-text {
  width: 100%;

  height: 228px;
  padding-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.page5 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}
.page5 p {width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
  z-index: 2;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price{width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.price h2{
height: 66px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 66px;
text-align: center;
letter-spacing: 1px;
color: #222F65;
margin-bottom: 0;
}
.price p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #37447E;
margin-top: 0;
margin-bottom: 60px;

}
.page5-button p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-align: center;
color: #5D6970;
}
.page5-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  z-index: 2;
}
.page5-button button {
  width: 189px;
  height: 31.81px;
  background: #111b47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}




footer{  
width: 100%;
height: 216px;
background: #E7ECFF;

z-index: 2;

}
.landl{
  width: 100%;
  display: flex;
  flex-direction: row;

}
.footer-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
align-items: center;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;

color: #939EA4;


}
.Logo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 38px;

color: #37447E;


  z-index: 3;

}
.footer-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
.footer-button button{
  width: 109px;
height: 26px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
background: #111B47;
border-radius: 2px;
}

hr .solid{
height: 1px #CDD1D4;
z-index: 8;

}
.last{
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 21px;

}
.group{  
  width: 100%;
  height: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
align-items: center;
padding-left: 10.5%;


}
.group ul li{
    display: inline; 
   width: 245px;
   padding-right: 46px;

  }

  .group ul li a {
    
text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #929ECC;

  }



.social-media{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 11.46%;
  z-index: 5;


}
.social-media ul li{
  display: inline; 
  padding-right: 46px;

}
.social-media ul li a{
width: 16px;
height: 16px;
color: #B0B8BC;


}